.header__lang-link {               
    min-width: 30px;
    margin-left: 18px;
    text-align: right;
    font-size: 24px;
    line-height: 117%;             
}

.header__lang-link:first-of-type { /* Обнулил расстояние у ссылки слева ... реализованно подчеркивание как в макете */
    margin-left: 0;
    text-decoration: underline;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        max-width: 22px;
        max-height: 20px;
        font-size: 18px;
    }
} 