/* Аналогично заголовку секции, 
пыпытался сделать плавность при масштабирование */

.cover__subtitle{
    max-width: 360px;
    max-height: 66px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    line-height: 122%;                  
    font-size: 18px;
    z-index: 21;
}

@media screen and (max-width: 535px) {
    .cover__subtitle {
        font-size: 16px;
        
    }
} 

@media screen and (max-width: 505px) {
    .cover__subtitle {
        font-size: 14px;
        
    }
} 

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        max-height: 48px;
        font-size: 14px;
        line-height: 114%;
    }
} 
