/*---------------------------------------------------------------*/

.place__url-heading {           /* Секция с ссылками на карточке */
    padding-bottom: 2.48%;
    line-height: 170%;          
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #AAA;
}
